// Le loading
body.loading {
  &, * { cursor: wait; }
  //#news-panes>* { opacity: 0.9; }
}

#loading {
  position: fixed; right: 0; top: 5px;
  width: 41px; height: 41px;
  background: $pink url(/images/ajax-loader.gif) center center no-repeat;
  padding: 2px;
  text-align: center;
  //@include shadow(0 2px 3px $black30);
  z-index: 10;
  color: white;
  text-indent: -9999px;
}

