@import "compass/css3";
@import "utilities";
@import "reset";

// Colors
$bg: #cacac4;
$grey: #666;
$red: #833;
$maroon: #836;
$pink: #c38;
//$blue: #5ac;
$blue: #8a5;
$green: #8a5;

$slate: saturate(#e0e2e6 * 0.5, 20%);
$serif: 'palatino linotype', georgia, serif;
$sans: 'helvetica neue', helvetica, arial, helvetica, sans-serif;

$reset-font: $sans;
