// A single entry

#all.entry {
  &      { padding: 20px; }
  #feeds { display: none; }

  #logo { opacity: 0.1; }

  #news-panes { height: auto; }

  #aux {
    display: none; }
}

// The left side thing
#all.entry nav.toolbar {
  & {
    position: fixed; top: 0; left: 0; width: 56px; height: 100%;
    @include box-sizing(border-box);
    padding: 8px 2px 2px 2px;
    background: $black05; border-right: solid 1px $black05; }

  a {
    text-align: center; display: block; color: #888; text-shadow: 1px 1px 0 $white30;
    border-top: solid 1px $black05; font-size: 10pt;
    font-family: $reset-font;
    width: 50px; height: 40px; line-height: 40px; }

  a:hover {
    background: #333; color: #fff; text-shadow: 1px 1px 0 $black30;
    text-decoration: none; }

  a.back {
    font-weight: normal;
    background: #333; color: #fff; height: 50px; line-height: 50px; font-size: 22pt; }

  .size {
    font-family: georgia, serif; font-weight: normal; }

  .size-small {
    font-size: 7pt; }

  .size-medium {
    font-size: 9pt; }

  .size-large {
    font-size: 13pt; }

  nav {
    margin-bottom: 50px; }
}

// The you are viewing thing
#all.entry nav.nav {
  position: fixed; bottom: 20px; right: 20px;
  width: 15%;

  font-size: 8pt;

  .status, .next {
    color: #333;
    display: block;
    @include box-sizing(border-box);
    height: 50px; overflow: hidden;
    margin-bottom: 50px;
    padding-left: 60px; position: relative;

    small, span { display: block; font-size: 1em; color: #999; }
    small, span { font-weight: normal; }
    strong, span { display: block; }
    &:hover { text-decoration: none; }

    .icon {
      position: absolute; left: 0; top: 0; display: inline-block; float: left; 
      width: 50px; height: 50px; line-height: 40px; font-size: 44pt; 
      font-weight: normal; opacity: 0.4;
      text-align: center; }

    &:hover { .icon, strong { color: $blue * 0.6; } }
    &:hover .icon {
      background: #333; color: #fff;
    }
  }

  .next {
    strong { font-weight: normal; }
  }

  strong, small { visibility: hidden; }
  &:hover {
    .icon { opacity: 1.0; }
    strong, small { visibility: visible; } }
}

.news-pane.entry {
  & {
    border: solid 6px $bg*0.9; }

  & {
    margin: 0 auto; width: 65%; min-width: 500px;
    font-size: 1.15em; padding: 10px 80px; line-height: 1.7;
    padding-bottom: 80px; @extend .readable; }

  header {
    margin: 0 0 40px 0;
    text-align: center;
  }

  header .source {
    background: #ddd;
    padding: 5px;
    font-family: georgia, serif; text-transform: uppercase;
    letter-spacing: 2px; font-size: 9pt;
    margin: -10px -80px 0 -80px;
    a { color: #888; display: block; }
    a:hover { text-decoration: none; color: #333; }
  }

  header h1 {
    font-family: 'PT Sans', sans-serif; 
    font-size: 25pt; line-height: 1.3; 
    margin: 30px 0; 
    a { @extend a.non-link; }
  }
}

// Variants
body {
  &.size-small .news-pane.entry { font-size: 9pt; }
  &.size-large .news-pane.entry { font-size: 12pt; }

  &.font-serif .news-pane.entry {
    font-family: 'palatino linotype', georgia, serif; }

  &.color-dark {
    //background: #555;
  }

  &.color-dark .news-pane.entry {
    border-color: #777;
    background: #222;
    & { color: #ddd; }
    h1, h1 a, h1 a:hover { color: #fff; }
    a { color: $blue; }
    header .source { background: #444; }
  }
}
