// Theme
article h2 {
  font-family: Georgia, serif;
}

.pseudo-image {
  background-size: 100% auto;
  background-position: center center;
  background-color: #eee;
  border: solid 2px #fff;
  @include shadow(0 0 1px black);
  &:hover { border-color: $maroon; }
}

// Line view
#all .news-pane.feed.line {
  .view { padding: 0 20px; }
  article {
    $pad: 8px;

    a {
      display: block; border-bottom: solid 1px #ddd; padding: $pad 0;
      @extend a.non-link; padding-left: 160px; position: relative;
      overflow: hidden; }

    .date {
      position: absolute; left: 0; top: $pad;
      display: block; width: 140px; font-weight: normal; color: #888;
      text-align: right; }

    strong {
      font-size: 1.2em; margin-right: 10px; }

    .summary {
      color: #888; font-weight: normal; display: inline; }

    span.image {
      @extend .pseudo-image;
      display: block; width: 80px; height: 40px;
      float: right; margin-left: 10px; }

    &:hover {
      span.image { border-color: $green; }
    }
  }
}

// Compact view
.news-pane.feed.compact {
  article {
    width: 25%;
    padding: 0 20px 20px 20px; @include box-sizing(border-box);
    float: left; height: 48%;
    margin: 10px 0;
    text-overflow: ellipsis; overflow: hidden;

    a { display: block; font-weight: normal; color: #333; }

    p, h2 { margin: 0; padding: 0; }

    &:first-of-type {
      width: 50%;
      h2 { font-size: 16pt; }
      p { font-size: 12pt; }
    }

    h2 { margin-bottom: 5px; }
    h2 { color: #111; }

    span.image {
      display: block; height: 70px;
      @extend .pseudo-image;
      margin-top: 1px;
      margin-bottom: 10px;
    }

    a:hover {
      text-decoration: none;
      h2 { text-decoration: none; color: $blue; }
      span.image { border-color: $green; }
    }
  }
}

// News pane
#all.feed .news-pane {
  & {
    padding: 80px 0 0 0;
    overflow: hidden; }

  .view {
    overflow-y: auto; height: 100%; @extend .scroll;
    @include box-sizing(border-box); }
 
  header {
    background: white; position: absolute; top: 0; left: 0; width: 100%; 
    @include box-sizing(border-box); height: 60px; padding: 0 20px; }

  h1 {
    border-bottom: solid 1px #aaa; margin: 0; padding: 20px 0;
    font-size: 20pt; font-family: 'PT Sans', sans-serif; line-height: 20px; 
    height: 20px; overflow: hidden; }

  h1 a {
    @extend a.non-link; }

  ul.views {
    @include horiz-list;

    position: absolute; top: 10px; right: 10px;

    a {
      background: #333; color: #fff; width: 30px; height: 30px; line-height: 
      30px; display: inline-block; text-align: center; }

    a:hover, a.active {
      text-decoration: none; background: $green; }
  }
}
