@import 'settings';

$reset-font: 'helvetica neue', helvetica, arial, helvetica, sans-serif;
@include ae-reset;

$bg: #cacac4;

body { background: $bg; }

@import 'layout';

#all { @include shadow(inset 0 5px 0 #333, inset 0 -50px 0 $black05); }
#all.entry { @include shadow(inset 0 5px 0 $maroon); }

// The card
#news-panes>* {
  height: 100%; position: relative;
  background: white; padding: 20px;
  @include box-sizing(border-box);
  @include shadow(0 2px 3px $black20, inset 0 -6px 10px $black10);
  @include border-bottom-radius(2px);
}

@import 'mixins';

@import 'loading';
@import 'feeds';
@import 'login';
@import 'form';
@import 'scroll';
@import 'news_feed';
@import 'news_entry';
