
#all.login
  %h1
    %strong Nakedpaper
    will change the way you read your RSS feeds.

  #login
    - if session[:error]
      #error= session.delete(:error)

    %p.connect
      %a.button.black{href: R(:auth, :google), target: '_self'} Google Connect

    .advanced{hide_if(params[:advanced].nil?)}
      %p.or
        %span or

      %form{action: '/login', method: 'post'}
        %p
          %input{id: 'email', name: 'email', placeholder: "Google email"}
        %p
          %input{id: 'password', type: 'password', name: 'password', placeholder: "Password"}

        %p.submit
          %button{type: 'submit'}
            Login


