- area_class 'dashboard'
- content_for :content do
  %header
    %h1

  %p{style: 'text-align: center; font-size: 60pt; margin: 100px 0; font-weight: 800; color: #e5e5da; letter-spacing: -5px;'}
    Nakedpaper*

!= extends :news
