- area_class 'entry'
- pane_class 'entry'

- content_for :content do
  %header
    %h1
      %a{href: @entry.url, target: '_blank'}!= @entry.title

  %div.contents
    != @entry.content

!= extends :news
