- area_class 'feed compact'

- content_for :content do
  %header
    %h1
      %a{href: @feed.url, target: '_blank'}= @feed.title

  .entries
    - @entries.each do |entry|
      != partial :'news/_entry', entry: entry

!= extends :news
