- area_class 'feed'
- pane_class 'feed'

- content_for :content do
  %header{data: { feed_id: @feed.to_param }}
    %h1
      %a{href: @feed.url, target: '_blank'}= @feed.title

    %ul.views
      %li
        %a{href: '#line', title: "Line view"} Ln
      %li
        %a{href: '#compact', title: "Compact view"} Co
      %li
        %a{href: '#grid', title: "Grid view"} Gr

  .entries.hide
    - @entries.each do |entry|
      != partial :'news/_entry', entry: entry

!= extends :news
