- area_class 'feed compact'

- content_for :content do
  %header
    %h1= @tag

  .feeds
    - @feeds.each do |feed|
      %li
        %a{href: R(:feed, feed)}= feed

  .entries
    - @entries.each do |entry|
      != partial :'news/_entry', entry: entry

!= extends :news
