- area_class 'feed compact'

- content_for :content do
  %header
    %h1= @feed.title

  - @feed.entries.each do |entry|
    %article
      %h2= entry.title
      %p!= entry.content

!= extends :news
