- body_class 'news'

#all{class: area_class}
  #news-c
    #news
      != yield_content :content

  #feeds-c
    #feeds
      - if has_content?(:feeds)
        != yield_content :feeds
      - else
        - client.tags.each do |tag|
          %h3
            %a{href: R(:tag, tag)}= tag.to_s
          %ul
            - if tag.client
              - tag.feeds.each do |feed|
                %li
                  %a{href: R(:feed, feed)}= feed
