- body_class 'news'

#all
  %div
    #news
      != yield_content :content

    #feeds
      %div
        - client.tags.each do |tag|
          %h3
            %a{href: R(:tag, tag)}= tag.to_s
          %ul
            - if tag.client
              - tag.feeds.each do |feed|
                %li
                  %a{href: R(:feed, feed)}= feed
