- body_class 'news'

#all{class: area_class}
  #news-panes
    #news{class: "news-pane #{pane_class}"}
      != yield_content :content

  #feeds-c
    #feeds
      - if has_content?(:feeds)
        != yield_content :feeds

  - unless request.xhr?
    #logo
      %a{href: '/'} Np*

